<!DOCTYPE html>
<html>
<head>
<title>Edit Student</title>
</head>

<body>

<h2>Edit Student</h2>

<form action="/update/{{ student.roll_no }}" method="POST">

Roll No<br>
<input type="text" value="{{ student.roll_no }}" disabled><br><br>

Name<br>
<input type="text" name="name" value="{{ student.name }}"><br><br>

Age<br>
<input type="number" name="age" value="{{ student.age }}"><br><br>

Marks<br>
<input type="number" name="marks" value="{{ student.marks }}"><br><br>

<button type="submit">Update Student</button>

</form>

<br>

<a href="/students">Back</a>

</body>
</html>